Repository SimonThormeyer/beuthSoundGroup, pull requests merged in 2020-06, with the labels that each got.

#114 Ticket/97/send global state to api simon chantal
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/GlobalState.js
  Frontend/src/components/OpenProject.js
  Frontend/src/components/SaveProject.js
  Frontend/src/components/menu.js
  Frontend/src/components/sidemenu.js
  Frontend/src/components/toneJS/Looper.js
  Frontend/src/containers/App.js
  Frontend/src/img/help.svg
  Frontend/src/img/open.svg
  Frontend/src/img/save.svg
  Frontend/src/img/sidemenu.svg
  Frontend/src/index.css
  Frontend/yarn.lock
Labels: Buttons / Menu, frontend, pull request

#137 fix "typing blocked" bug
  Frontend/src/GlobalState.js
  Frontend/src/components/OpenProject.js
  Frontend/src/components/loopicon.js
  Frontend/src/components/menu.js
  Frontend/src/components/sidemenu.js
Labels: bug

#135 Bug/#134/open project error message
  Frontend/src/components/OpenProject.js
  Frontend/src/components/SaveProject.js
Labels: bug

#138 bug fixed LoopAnimation in Safari
  Frontend/src/index.css
Labels: bug

#144 Start overlay with browser warning finished
  Frontend/src/GlobalState.js
  Frontend/src/components/menu.js
  Frontend/src/components/startoverlay.js
  Frontend/src/components/threeJS/canvas.js
  Frontend/src/components/toneJS/musicCtrl.js
  Frontend/src/components/toneJS/soundbed/soundbed.js
  Frontend/src/components/toneJS/synthAndEffects/synthAndEffects.js
  Frontend/src/containers/App.js
  Frontend/src/index.css
Labels: frontend

#146 Ticket/#120/help dialogue chantal
  Frontend/src/GlobalState.js
  Frontend/src/components/helpDialogue.js
  Frontend/src/components/loopicon.js
  Frontend/src/components/menu.js
  Frontend/src/components/sidemenu.js
  Frontend/src/components/threeJS/canvas.js
  Frontend/src/containers/App.js
  Frontend/src/index.css
Labels: frontend, ticket

#141 visual representation of navigation arrows for multitracking
  Frontend/src/components/multitracknav.js
  Frontend/src/containers/App.js
  Frontend/src/img/arrow_back.svg
  Frontend/src/img/arrow_forward.svg
  Frontend/src/index.css
Labels: Buttons / Menu, frontend

#151 changing backend url in frontend for reverse proxy
  Frontend/src/GlobalState.js
  Frontend/src/components/OpenProject.js
  Frontend/src/components/SaveProjectForm.js
Labels: Deployment

#161 startOverlay Second Button help dialogue done
  Frontend/src/components/helpDialogue.js
  Frontend/src/components/menu.js
  Frontend/src/components/startoverlay.js
  Frontend/src/index.css
Labels: frontend, pull request

#160 changing from node:10-slim to node:12
  Frontend/Dockerfile
  Frontend/package.json
  node_modules/.yarn-integrity
  yarn.lock
Labels: docker

#167 Ticket/147/integrate hateoas/hal frederic
  Backend/.env
  Backend/Dockerfile
  Backend/api/__init__.py
  Backend/api/controller/__init__.py
  Backend/api/controller/mongoController.py
  Backend/api/models/models.py
  Backend/api/routes/responses.py
  Backend/api/routes/routes.py
  Backend/api/service/mongoService.py
  Backend/docker-compose.yml
  Backend/requirements.txt
  Frontend/src/components/OpenProject.js
  docker-compose.yaml
Labels: pull request

#176 Ticket/#174/colored canvas background chantal
  Frontend/public/index.html
  Frontend/src/GlobalState.js
  Frontend/src/components/multitracknav.js
  Frontend/src/components/threeJS/canvas.js
  Frontend/src/containers/App.js
  Frontend/src/img/canvasBackground.jpg
  Frontend/src/img/canvasBackground1.png
  Frontend/src/img/canvasBackground2.png
  Frontend/src/img/canvasBackground3.png
  Frontend/src/index.css
Labels: Canvas, frontend
